@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

a:active {
  background-color: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
}

input,
button {
  border: none;
  font-family: inherit;
  font-size: inherit;
}

button,
input[type=submit] {
  background: none;
  cursor: pointer;
}

input:focus,
button:focus {
  outline: none;
}

ul,
li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

html {
  height: 100%;
  scroll-behavior: smooth;
  background: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#ffffff));
  background: linear-gradient(to bottom, #f5f5f5, #ffffff);
  background-repeat: no-repeat;
}

body {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1.687;
  color: #323232;
}

.hamburger {
  font-size: 30px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 20px;
  display: none;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.footer {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.container {
  max-width: 1340px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.container--fluid {
  max-width: unset;
  width: 100%;
}
.container--no--padding {
  padding: 0;
}

.visually-hiden {
  opacity: 0;
  visibility: hidden;
  width: 0;
  height: 0;
  display: block;
  margin-left: -10000px;
  background: transparent;
  font-size: 0;
}

.none {
  display: none;
}

.dash-under-link a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #a09d9d;
  -webkit-transition: width 0.3s ease;
  transition: width 0.3s ease;
  position: absolute;
  bottom: -2px; /* Розташування рисочки під текстом */
  left: 0%;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}
.dash-under-link a:hover::after {
  width: 100%; /* Рисочка при наведенні */
}
.dash-under-link__center a::after {
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.background {
  background-image: url("../img/header/bg9.jpg"); /* Заміни 'your-image.jpg' на шлях до твого зображення */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.nav {
  padding-top: 20px;
  padding-bottom: 20px;
}

.nav__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation-list .nav__link {
  display: inline-block;
  margin: 0 2rem;
}
.navigation-list .nav__link a {
  display: block;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.navigation-list .nav__link :not(.active):hover {
  color: #a09d9d;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2px;
  font-weight: 100;
  line-height: 1;
  width: 70px;
}

.navigation-list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.navigation-list li {
  margin-right: 42px;
}
.navigation-list li:last-child {
  margin-right: 0;
}
.navigation-list a {
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
}
.navigation-list a.active {
  color: #a09d9d;
  font-weight: 700;
}

.header {
  padding-bottom: 50px;
}

.background {
  background-image: url("../img/header/bg9.jpg"); /* Заміни 'your-image.jpg' на шлях до твого зображення */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__text {
  width: 465px;
}

.header__text p {
  line-height: 1.6875;
  margin-bottom: 1em;
}

.header__title {
  margin-right: -160px;
  position: relative;
  z-index: 9;
  font-size: 49px;
  margin-bottom: 15px;
  font-weight: 700;
  line-height: 1.46;
}
.header__title::before {
  content: "";
  display: block;
  width: 5%;
  height: 2px;
  background-color: rgb(200, 189, 160);
}
.header__title::after {
  content: "";
  display: block;
  width: 25%;
  height: 2px;
  background-color: rgb(200, 189, 160);
}

.header__img img {
  border-radius: 50%;
  background-color: darkgray;
  width: 30vw;
  -webkit-box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
          box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  -webkit-box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
          box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.header__form {
  margin-top: 42px;
}

.buttons__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}

.testimonials {
  padding-top: 40px;
  padding-bottom: 30px;
}

.testimonials__heading {
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonials__title {
  max-width: 452px;
}

.testimonials__subtitle {
  max-width: 400px;
}

.testimonials__row {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 30px;
}

/* Основні стилі для галереї */
#photosContainer {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 30px;
}

.photo-card {
  border-radius: 5px;
  overflow: hidden;
  -ms-flex-preferred-size: calc(25% - 22.5px);
      flex-basis: calc(25% - 22.5px);
  -webkit-transition: -webkit-box-shadow 0.2s ease-in;
  transition: -webkit-box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in, -webkit-box-shadow 0.2s ease-in;
  -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.photo-card:hover {
  -webkit-box-shadow: 0px 10px 52px 0px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 10px 52px 0px rgba(0, 0, 0, 0.08);
}
.photo-card:hover .card-testimonial__btn-play {
  opacity: 1;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.photo-card img {
  max-width: 100%; /* Зображення займає всю ширину картки */
  border-bottom: 1px solid #ddd; /* Рамка під зображенням */
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  height: 220px;
}

.photo-card:hover img {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

.photo-card-wrapper {
  position: relative;
  display: block;
}

.photo-card-body {
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: calc(100% - 220px);
}

.photo-card-wrapper {
  overflow: hidden;
}

.card-testimonial__btn-play {
  position: absolute;
  z-index: 1;
  right: 20px;
  bottom: 20px;
  opacity: 0;
  -webkit-transform: translateY(25%);
          transform: translateY(25%);
  -webkit-transition: opacity 0.2s ease-in, -webkit-transform 0.2s ease-in;
  transition: opacity 0.2s ease-in, -webkit-transform 0.2s ease-in;
  transition: opacity 0.2s ease-in, transform 0.2s ease-in;
  transition: opacity 0.2s ease-in, transform 0.2s ease-in, -webkit-transform 0.2s ease-in;
}

.card-testimonial__btn-svg circle {
  fill: #d6cee3;
  -webkit-transition: fill 0.2s ease-in;
  transition: fill 0.2s ease-in;
}
.card-testimonial__btn-svg path {
  fill: #615478;
  -webkit-transition: fill 0.2s ease-in;
  transition: fill 0.2s ease-in;
}
.card-testimonial__btn-svg:hover circle {
  fill: #615478;
}
.card-testimonial__btn-svg:hover path {
  fill: #d6cee3;
}

.photo-card-price {
  color: #58bebf;
  text-align: left;
  -ms-grid-column-align: end;
      justify-self: end;
  -webkit-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
  -webkit-box-flex: 0.1;
      -ms-flex: 0.1;
          flex: 0.1;
}
.photo-card:hover .photo-card-price {
  color: #f78434;
}

.photo-card-text {
  -ms-grid-column-align: end;
      justify-self: end;
  text-align: left;
  color: #666;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-bottom: 20px;
}

.card-testimonial__title {
  text-align: left;
  -ms-grid-column-align: end;
      justify-self: end;
  -webkit-box-flex: 0.2;
      -ms-flex: 0.2;
          flex: 0.2;
  font-size: 18px;
  font-weight: 700;
}

.button {
  display: block;
  height: 58px;
  padding-left: 37px;
  padding-right: 37px;
  border-radius: 5px;
  background-color: none;
  border: 2px solid black;
  text-wrap: nowrap;
  line-height: 55px;
  font-weight: 400;
  color: black;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.button:hover {
  background-color: #262626;
  color: white;
}
.button--play {
  padding-left: 50px;
  position: relative;
}
.button--play::before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  background-image: url(./../img/icons/play.svg);
  background-size: initial;
  background-repeat: no-repeat;
  position: absolute;
  left: 30px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 30px; /* Place the button at the bottom of the page */
  right: 20px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  height: 60px;
  width: 60px;
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  border-radius: 60px; /* Rounded corners */
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

#myBtn:hover {
  background-color: lightgrey; /* Add a dark-grey background on hover */
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#myBtn:active {
  -webkit-transform: translateY(-25%) scale(1.1);
          transform: translateY(-25%) scale(1.1);
}

.title {
  font-size: 42px;
  font-weight: 700;
  line-height: 1.476;
}

.footer {
  padding-top: 60px;
  padding-bottom: 20px;
  background: -webkit-gradient(linear, left top, left bottom, from(#555), to(#222));
  background: linear-gradient(to bottom, #555, #222);
  color: #ffffff;
  margin-top: auto;
  width: 100%;
  font-family: "Poppins", sans-serif;
  position: relative;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__info {
  max-width: 300px;
}

.footer__logo {
  margin-bottom: 15px;
}

.footer__info-text {
  margin-bottom: 40px;
}

.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}
.footer__socials a:hover {
  opacity: 0.7;
}

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 185px;
     -moz-column-gap: 185px;
          column-gap: 185px;
}

.footer__nav-block {
  font-size: 14px;
}
.footer__nav-block li {
  margin-bottom: 13px;
}
.footer__nav-block a:hover {
  color: #a09d9d;
}

.footer__nav-block-title {
  font-size: 21px;
  font-weight: 700;
  margin-bottom: 18px;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__info {
  max-width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__info-text {
  width: 100%;
  text-align: justify;
  line-height: 1.3;
  color: rgb(235, 235, 235);
}

.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}
.footer__socials a:hover {
  opacity: 0.7;
}

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 85px;
     -moz-column-gap: 85px;
          column-gap: 85px;
}

.footer__nav-block {
  font-size: 14px;
}
.footer__nav-block ul {
  list-style: none;
  padding: 0;
}
.footer__nav-block li {
  margin-bottom: 13px;
}
.footer__nav-block a {
  color: #ffffff;
  text-decoration: none;
  position: relative;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.footer__nav-block-title {
  font-size: 21px;
  font-weight: 700;
  margin-bottom: 18px;
  color: rgb(235, 235, 235);
  position: relative;
}

.footer__nav-block-title::after {
  content: "";
  display: block;
  width: 100%; /* Ширина рисочки */
  height: 2px;
  background: #f39c12; /* Колір рисочки */
  margin-top: 5px;
}

/* Додаємо лінію між текстом та іконками */
.footer__divider {
  width: 100%;
  height: 1px;
  background-color: #777;
  margin: 40px 0;
}

.footer__bottom {
  text-align: center;
  padding-top: 20px;
  margin-top: 20px;
}

.footer__bottom p {
  margin: 0;
  font-size: 14px;
  color: #aaa;
}

.about-us {
  margin-top: 50px;
}

.about-us__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px; /* Зменшено до 10px для більшої компактності */
}

.about-us__img {
  max-width: 40%; /* Збільшено до 25% для більших квадратів */
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0 5px; /* Відступи навколо фото зменшено до 5px */
  -o-object-fit: contain;
     object-fit: contain;
}

.about-us__img img {
  width: 100%;
  height: auto; /* Автоматичне збереження пропорцій */
  aspect-ratio: 1; /* Зробити фото квадратними */
  border-radius: 8px;
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.about-us__text {
  max-width: 50%; /* Зменшено простір для тексту */
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0 15px; /* Відступи навколо тексту зменшено до 5px */
  color: #666;
}

.about-title {
  font-size: 28px;
  color: #151414;
  font-weight: 700;
  text-align: center;
}

.about-subtitle {
  font-size: 20px;
  color: #2c2b2b;
  margin-bottom: 10px;
}

/* Стиль для шахматного розташування */
.about-us__row:nth-child(even) .about-us__img {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1; /* Зображення ліворуч */
}

.about-us__row:nth-child(even) .about-us__text {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2; /* Текст праворуч */
}

.about__header {
  width: 100%;
  height: auto;
  overflow: hidden;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px;
}

.slideshow-container {
  position: relative;
  max-width: 1000px;
  margin: auto;
  border: none;
  border-radius: 20px;
  -webkit-box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
          box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  background: linear-gradient(135deg, #f5f7fa, #c3cfe2);
}

.slide {
  display: none; /* Сховати всі слайди за замовчуванням */
  -webkit-transition: opacity 1s ease-in-out, -webkit-transform 1s ease-in-out;
  transition: opacity 1s ease-in-out, -webkit-transform 1s ease-in-out;
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
  transition: opacity 1s ease-in-out, transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
}

.slide img {
  width: 100%;
  height: auto;
  max-height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.slide img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05); /* Ефект збільшення при наведенні */
}

.prev, .next {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 10px;
  cursor: pointer;
  border: none;
  -webkit-box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
          box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); /* Сильніша тінь для кнопок */
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.9); /* Зміна кольору при наведенні */
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

/* Адаптивність */
.tell-me__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 30px;
  margin-top: 50px;
  height: 200px;
  width: 100%;
  background-color: rgb(235, 235, 235);
  -webkit-box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
          box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.tell-me__block input[name=name], .tell-me__block [name=phone] {
  min-width: 13em;
  width: 13vw;
  padding: 12px 10px 12px 35px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid darkgray;
  background: none;
  border-top: none;
  border-left: none;
  border-right: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.tell-me__block input[name=name]::-webkit-input-placeholder, .tell-me__block [name=phone]::-webkit-input-placeholder {
  color: rgb(46, 45, 45);
}
.tell-me__block input[name=name]::-moz-placeholder, .tell-me__block [name=phone]::-moz-placeholder {
  color: rgb(46, 45, 45);
}
.tell-me__block input[name=name]:-ms-input-placeholder, .tell-me__block [name=phone]:-ms-input-placeholder {
  color: rgb(46, 45, 45);
}
.tell-me__block input[name=name]::-ms-input-placeholder, .tell-me__block [name=phone]::-ms-input-placeholder {
  color: rgb(46, 45, 45);
}
.tell-me__block input[name=name]::placeholder, .tell-me__block [name=phone]::placeholder {
  color: rgb(46, 45, 45);
}
.tell-me__block input[name=name]:focus, .tell-me__block [name=phone]:focus {
  background: none;
}

.tell-me__inputs {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.tell-me__row {
  -webkit-column-gap: 50px;
     -moz-column-gap: 50px;
          column-gap: 50px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.tell-me__row h1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: rgb(46, 45, 45);
  width: auto;
  font-weight: 700;
  font-size: 24px;
}
.tell-me__row form {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}
.tell-me__row form svg {
  margin-top: 1.3em;
  position: absolute;
  width: 1.3em;
  height: 1.3em;
}
.tell-me__row button {
  margin: auto 0;
  padding: 0 50px;
}

@media screen and (max-width: 1090px) {
  .tell-me__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 20px;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .tell-me__row form {
    width: 100%;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}
@media screen and (max-width: 800px) {
  .tell-me__block {
    height: auto;
    padding: 20px;
  }
  .tell-me__row form {
    row-gap: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (max-width: 560px) {
  .tell-me__block {
    text-align: center;
  }
  .tell-me__row h1 {
    font-size: 18px;
  }
  .tell-me__row button {
    padding: 0 40px;
    font-size: 12px;
  }
  .tell-me__inputs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 20px;
  }
  input[name=name], [name=phone] {
    min-width: 13em;
    width: 13vw;
    padding: 12px 10px 12px 35px;
    margin: 8px 0;
  }
  input[name=name]::-webkit-input-placeholder, [name=phone]::-webkit-input-placeholder {
    font-size: 12px;
    color: rgb(46, 45, 45);
  }
  input[name=name]::-moz-placeholder, [name=phone]::-moz-placeholder {
    font-size: 12px;
    color: rgb(46, 45, 45);
  }
  input[name=name]:-ms-input-placeholder, [name=phone]:-ms-input-placeholder {
    font-size: 12px;
    color: rgb(46, 45, 45);
  }
  input[name=name]::-ms-input-placeholder, [name=phone]::-ms-input-placeholder {
    font-size: 12px;
    color: rgb(46, 45, 45);
  }
  input[name=name]::placeholder, [name=phone]::placeholder {
    font-size: 12px;
    color: rgb(46, 45, 45);
  }
}
.card-delete-button {
  margin-top: 10px;
}

.admin-card-title {
  text-align: center;
  margin: 30px auto;
}

.admin-photo-card__container {
  margin-bottom: 40px;
}

#uploadForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 100%;
  width: 100%;
  padding: 20px;
  background-color: #f1f1f1;
  border-radius: 10px;
  -webkit-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}

#uploadForm input[type=file],
#uploadForm input[type=text],
#uploadForm input[type=number],
#uploadForm button {
  width: 100%;
  margin-bottom: 15px;
  padding: 12px;
  font-size: 16px;
  color: #333;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  -webkit-transition: border-color 0.3s ease, -webkit-box-shadow 0.3s ease;
  transition: border-color 0.3s ease, -webkit-box-shadow 0.3s ease;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  transition: border-color 0.3s ease, box-shadow 0.3s ease, -webkit-box-shadow 0.3s ease;
}

#uploadForm input[type=text]:focus,
#uploadForm input[type=number]:focus,
#uploadForm input[type=file]:focus {
  border-color: #8c8c8c;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  outline: none;
}

#uploadForm button {
  background-color: #4a4a4a;
  color: #f7f7f7;
  font-weight: bold;
  cursor: pointer;
  border: none;
  -webkit-transition: background-color 0.3s ease, -webkit-box-shadow 0.3s ease;
  transition: background-color 0.3s ease, -webkit-box-shadow 0.3s ease;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  transition: background-color 0.3s ease, box-shadow 0.3s ease, -webkit-box-shadow 0.3s ease;
}

#uploadForm button:hover {
  background-color: #333;
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

#uploadForm button:active {
  background-color: #222;
}

#uploadForm input[type=file]::-webkit-file-upload-button {
  background-color: #4a4a4a;
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

#uploadForm input[type=file]::file-selector-button {
  background-color: #4a4a4a;
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

#uploadForm input[type=file]::-webkit-file-upload-button:hover {
  background-color: #333;
}

#uploadForm input[type=file]::file-selector-button:hover {
  background-color: #333;
}

#uploadForm input::-webkit-input-placeholder {
  color: #999;
}

#uploadForm input::-moz-placeholder {
  color: #999;
}

#uploadForm input:-ms-input-placeholder {
  color: #999;
}

#uploadForm input::-ms-input-placeholder {
  color: #999;
}

#uploadForm input::placeholder {
  color: #999;
}

#authSection {
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 8px;
  -webkit-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 300px;
  margin: 0 auto;
  /* Центрування */
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#authSection h2 {
  color: #333;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

#password {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
  margin-bottom: 1rem;
  -webkit-transition: border-color 0.3s ease;
  transition: border-color 0.3s ease;
}

#password:focus {
  border-color: #007bff;
  outline: none;
  -webkit-box-shadow: 0 0 5px rgba(0, 123, 255, 0.2);
          box-shadow: 0 0 5px rgba(0, 123, 255, 0.2);
}

#loginButton {
  width: 100%;
  padding: 0.75rem;
  background-color: #007bff;
  border: none;
  color: #fff;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

#loginButton:hover {
  background-color: #0056b3;
}

#authMessage {
  margin-top: 1rem;
  font-size: 0.9rem;
  color: #ff4d4d;
}

/* Центрування заголовка */
.admin-reviews-title {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.review {
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 15px;
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  -webkit-transition: -webkit-box-shadow 0.3s ease;
  transition: -webkit-box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease, -webkit-box-shadow 0.3s ease;
}

.review:hover {
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
          box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

/* Відступи між текстом та кнопками */
.review p {
  margin-bottom: 10px;
}

/* Кнопка "Схвалити" */
button.approve-button {
  padding: 8px 16px;
  font-size: 0.9rem;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  background-color: #808000; /* М'який зелений колір для схвалення */
  color: #fff;
  font-weight: bold;
  margin-right: 10px;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

button.approve-button:hover:not(:disabled) {
  background-color: #96b297;
}

button.approve-button:disabled {
  background-color: #A9A9A9; /* Сірий для деактивованої кнопки */
  cursor: not-allowed;
  color: #232222;
}

/* Кнопка "Видалити" */
button.delete-button {
  padding: 8px 16px;
  font-size: 0.9rem;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  background-color: #8B0000; /* М'який червоний колір для видалення */
  color: #fff;
  font-weight: bold;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

button.delete-button:hover {
  background-color: #8B0000;
}

/* Стиль тексту відгуку з обмеженою кількістю рядків */
.review-text.shortened {
  max-height: 60px;
  overflow: hidden;
  -webkit-transition: max-height 0.3s ease;
  transition: max-height 0.3s ease;
}

/* Стиль для розгорнутого тексту */
.review-text.expanded {
  max-height: none;
}

/* Стиль кнопки "Читати далі" */
.read-more-btn {
  margin-top: 10px;
  padding: 5px 10px;
  font-size: 0.9rem;
  color: #111;
  background: none;
  border: none;
  cursor: pointer;
  text-decoration: underline;
}

.read-more-btn:hover {
  color: #111;
}

#reviewsHeader {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

#reviewForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  -webkit-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
#reviewForm label {
  font-weight: bold;
  color: #333;
}
#reviewForm input[type=text],
#reviewForm textarea {
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  -webkit-transition: border-color 0.3s;
  transition: border-color 0.3s;
}
#reviewForm input[type=text]:focus,
#reviewForm textarea:focus {
  border-color: #ab9999;
  outline: none;
}
#reviewForm button {
  padding: 12px;
  font-size: 16px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: background-color 0.3s, -webkit-box-shadow 0.3s, -webkit-transform 0.3s;
  transition: background-color 0.3s, -webkit-box-shadow 0.3s, -webkit-transform 0.3s;
  transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
  transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s, -webkit-box-shadow 0.3s, -webkit-transform 0.3s;
}
#reviewForm button:hover {
  background-color: #1a1a1a;
  -webkit-box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
          box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

#successMessage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 600px;
  margin: 20px auto;
  padding: 15px;
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
  border-radius: 5px;
  text-align: center;
}
#successMessage::before {
  content: "✔️ ";
  font-size: 20px;
  margin-right: 5px;
}

#reviewsContainer {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  max-width: 100%;
  margin: 40px auto;
  padding: 0 20px;
}

.review {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  -webkit-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  -webkit-transition: -webkit-transform 0.3s, -webkit-box-shadow 0.3s;
  transition: -webkit-transform 0.3s, -webkit-box-shadow 0.3s;
  transition: transform 0.3s, box-shadow 0.3s;
  transition: transform 0.3s, box-shadow 0.3s, -webkit-transform 0.3s, -webkit-box-shadow 0.3s;
}
.review:hover {
  -webkit-transform: translateY(-5px) scale(1.02);
          transform: translateY(-5px) scale(1.02);
  -webkit-box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
          box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
}
.review h3 {
  margin: 0 0 10px;
  color: #333;
  font-weight: bold;
}
.review h3::before {
  content: "👤 ";
  font-size: 18px;
  margin-right: 5px;
}
.review .review-text {
  max-height: 60px;
  overflow: hidden;
  -webkit-transition: max-height 0.3s ease;
  transition: max-height 0.3s ease;
}
.review .review-text.expanded {
  max-height: none;
}
.review .read-more-btn {
  background-color: #ab9999;
  color: #d5caca;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.review .read-more-btn:hover {
  background-color: #947d7d;
}
.review .review-date {
  font-size: 12px;
  color: black;
  margin-top: 10px;
  text-align: right;
  display: block;
}

@media screen and (max-width: 1280px) {
  .container {
    max-width: 95%;
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media screen and (max-width: 1024px) {
  .container {
    max-width: 95%;
  }
  .navigation-list .nav__link {
    margin: 0 1rem;
  }
  .header__text {
    font-size: 16px;
    min-width: 75%;
    line-height: 1.5;
  }
  .header__title {
    font-size: 42px;
    margin-right: 0;
  }
  .photo-card {
    -ms-flex-preferred-size: calc(50% - 15px);
        flex-basis: calc(50% - 15px);
  }
  .photo-card-wrapper img {
    width: 100%;
    height: 300px;
  }
  .photo-card-body {
    height: calc(100% - 300px);
  }
  .footer__nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 30px;
  }
  .footer__socials {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
@media screen and (max-width: 768px) {
  .nav {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .nav__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navigation-list ul {
    display: none;
    margin-top: 20px;
  }
  .navigation-list.show {
    width: 100%;
  }
  .navigation-list.show ul {
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    text-align: center;
  }
  .navigation-list li {
    margin-right: 20px;
    padding: 20px auto;
    width: 100%;
  }
  .navigation-list li:last-child {
    margin: 0;
  }
  .navigation-list li a {
    padding: 10px;
    border-bottom: 1px solid rgb(205, 205, 205);
    background-color: rgb(235, 235, 235);
  }
  .dash-under-link ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hamburger {
    display: block; /* Показуємо бургер-кнопку */
  }
  .header__title {
    font-size: 28px;
    text-align: center;
  }
  .header__row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header__img {
    display: none;
  }
  .form {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 15px;
  }
  .form__label {
    padding-left: 20px;
  }
  .form__input {
    width: 100%;
    margin-right: 0;
  }
  .testimonials__heading {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .photo-card {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .button {
    padding: 10px;
    line-height: 35px;
    text-align: center;
  }
  .footer {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .footer__nav {
    margin-top: 30px;
  }
  .footer__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__info,
  .footer__nav {
    text-align: center;
  }
  .footer__socials {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .about__header {
    width: 100%;
    padding: 40px 0;
  }
  .about__header .container {
    padding: 0;
    margin: 0;
    max-width: 100%;
  }
  .slideshow-container {
    border-radius: 0;
  }
  .slide img {
    border-radius: 0;
  }
  .about-us__img {
    max-width: 100%;
    margin: 10px 0;
  }
  .about-subtitle {
    max-width: 100%;
    font-size: 1.5em;
  }
  .about-us__text {
    max-width: 100%;
    font-size: 0.8em;
  }
}
@media screen and (max-width: 480px) {
  .about-us {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .about-us__row {
    margin-bottom: 0px; /* Зменшено до 10px для більшої компактності */
  }
  .background {
    background-attachment: local;
  }
  .about-us__text {
    font-size: 0.6em;
  }
  .nav__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header__title {
    font-size: 24px;
  }
  #photosContainer {
    row-gap: 20px;
  }
  .photo-card {
    border: 1px solid whitesmoke;
  }
  .photo-card-wrapper img {
    min-height: 340px;
  }
  .photo-card-body {
    height: calc(100% - 340px);
  }
  .card-testimonial__title {
    font-size: 16px;
  }
  .footer__nav-block {
    font-size: 12px;
  }
  .footer__logo {
    margin: 0 auto 15px auto;
  }
  .footer__info-text p {
    font-size: 14px;
    font-weight: normal;
  }
  .buttons__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 10px;
  }
}
@media screen and (max-width: 360px) {
  .about-us__text {
    font-size: 0.5em;
  }
}