@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

a:active {
  background-color: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
}

input,
button {
  border: none;
  font-family: inherit;
  font-size: inherit;
}

button,
input[type=submit] {
  background: none;
  cursor: pointer;
}

input:focus,
button:focus {
  outline: none;
}

ul,
li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

html {
  height: 100%;
  scroll-behavior: smooth;
  background: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#ffffff));
  background: linear-gradient(to bottom, #f5f5f5, #ffffff);
  background-repeat: no-repeat;
}

body {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1.687;
  color: #323232;
}

.hamburger {
  font-size: 30px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 20px;
  display: none;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.footer {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.container {
  max-width: 1340px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.container--fluid {
  max-width: unset;
  width: 100%;
}
.container--no--padding {
  padding: 0;
}

.visually-hiden {
  opacity: 0;
  visibility: hidden;
  width: 0;
  height: 0;
  display: block;
  margin-left: -10000px;
  background: transparent;
  font-size: 0;
}

.none {
  display: none;
}

.dash-under-link a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #a09d9d;
  -webkit-transition: width 0.3s ease;
  transition: width 0.3s ease;
  position: absolute;
  bottom: -2px; /* Розташування рисочки під текстом */
  left: 0%;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}
.dash-under-link a:hover::after {
  width: 100%; /* Рисочка при наведенні */
}
.dash-under-link__center a::after {
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.background {
  background-image: url("../img/header/bg9.jpg"); /* Заміни 'your-image.jpg' на шлях до твого зображення */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.background-portfolio {
  width: 100%;
  background: #fff no-repeat;
  background-size: cover;
  position: relative;
  background-image: url("../assets/img/site-hero.jpg"); /* Заміни 'your-image.jpg' на шлях до твого зображення */
}

.nav {
  padding-top: 20px;
  padding-bottom: 20px;
}

.nav__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation-list .nav__link {
  display: inline-block;
  margin: 0 2rem;
}
.navigation-list .nav__link a {
  display: block;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.navigation-list .nav__link :not(.active):hover {
  color: #a09d9d;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2px;
  font-weight: 100;
  line-height: 1;
  width: 70px;
}

.navigation-list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.navigation-list li {
  margin-right: 42px;
}
.navigation-list li:last-child {
  margin-right: 0;
}
.navigation-list a {
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
}
.navigation-list a.active {
  color: #a09d9d;
  font-weight: 700;
}

.header {
  padding-bottom: 50px;
}

.background {
  background-image: url("../img/header/bg9.jpg"); /* Заміни 'your-image.jpg' на шлях до твого зображення */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__text {
  width: 465px;
}

.header__text p {
  line-height: 1.6875;
  margin-bottom: 1em;
}

.header__title {
  margin-right: -160px;
  position: relative;
  z-index: 9;
  font-size: 49px;
  margin-bottom: 15px;
  font-weight: 700;
  line-height: 1.46;
}
.header__title::before {
  content: "";
  display: block;
  width: 5%;
  height: 2px;
  background-color: rgb(200, 189, 160);
}
.header__title::after {
  content: "";
  display: block;
  width: 25%;
  height: 2px;
  background-color: rgb(200, 189, 160);
}

.header__img img {
  border-radius: 50%;
  background-color: darkgray;
  width: 30vw;
  -webkit-box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
          box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  -webkit-box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
          box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.header__form {
  margin-top: 42px;
}

.buttons__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}

.testimonials {
  padding-top: 40px;
  padding-bottom: 30px;
}

.testimonials__heading {
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonials__title {
  max-width: 452px;
}

.testimonials__subtitle {
  max-width: 400px;
}

.testimonials__row {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 30px;
}

/* Основні стилі для галереї */
#photosContainer {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 30px;
}

.photo-card {
  border-radius: 5px;
  overflow: hidden;
  -ms-flex-preferred-size: calc(25% - 22.5px);
      flex-basis: calc(25% - 22.5px);
  -webkit-transition: -webkit-box-shadow 0.2s ease-in;
  transition: -webkit-box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in, -webkit-box-shadow 0.2s ease-in;
  -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.photo-card:hover {
  -webkit-box-shadow: 0px 10px 52px 0px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 10px 52px 0px rgba(0, 0, 0, 0.08);
}
.photo-card:hover .card-testimonial__btn-play {
  opacity: 1;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.photo-card img {
  max-width: 100%; /* Зображення займає всю ширину картки */
  border-bottom: 1px solid #ddd; /* Рамка під зображенням */
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  height: 220px;
}

.photo-card:hover img {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

.photo-card-wrapper {
  position: relative;
  display: block;
}

.photo-card-body {
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: calc(100% - 220px);
}

.photo-card-wrapper {
  overflow: hidden;
}

.card-testimonial__btn-play {
  position: absolute;
  z-index: 1;
  right: 20px;
  bottom: 20px;
  opacity: 0;
  -webkit-transform: translateY(25%);
          transform: translateY(25%);
  -webkit-transition: opacity 0.2s ease-in, -webkit-transform 0.2s ease-in;
  transition: opacity 0.2s ease-in, -webkit-transform 0.2s ease-in;
  transition: opacity 0.2s ease-in, transform 0.2s ease-in;
  transition: opacity 0.2s ease-in, transform 0.2s ease-in, -webkit-transform 0.2s ease-in;
}

.card-testimonial__btn-svg circle {
  fill: #d6cee3;
  -webkit-transition: fill 0.2s ease-in;
  transition: fill 0.2s ease-in;
}
.card-testimonial__btn-svg path {
  fill: #615478;
  -webkit-transition: fill 0.2s ease-in;
  transition: fill 0.2s ease-in;
}
.card-testimonial__btn-svg:hover circle {
  fill: #615478;
}
.card-testimonial__btn-svg:hover path {
  fill: #d6cee3;
}

.photo-card-price {
  color: #58bebf;
  text-align: left;
  -ms-grid-column-align: end;
      justify-self: end;
  -webkit-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
  -webkit-box-flex: 0.1;
      -ms-flex: 0.1;
          flex: 0.1;
}
.photo-card:hover .photo-card-price {
  color: #f78434;
}

.photo-card-text {
  -ms-grid-column-align: end;
      justify-self: end;
  text-align: left;
  color: #666;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-bottom: 20px;
}

.card-testimonial__title {
  text-align: left;
  -ms-grid-column-align: end;
      justify-self: end;
  -webkit-box-flex: 0.2;
      -ms-flex: 0.2;
          flex: 0.2;
  font-size: 18px;
  font-weight: 700;
}

.button {
  display: block;
  height: 58px;
  padding-left: 37px;
  padding-right: 37px;
  border-radius: 5px;
  background-color: none;
  border: 2px solid black;
  text-wrap: nowrap;
  line-height: 55px;
  font-weight: 400;
  color: black;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.button:hover {
  background-color: #262626;
  color: white;
}
.button--play {
  padding-left: 50px;
  position: relative;
}
.button--play::before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  background-image: url(./../img/icons/play.svg);
  background-size: initial;
  background-repeat: no-repeat;
  position: absolute;
  left: 30px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 30px; /* Place the button at the bottom of the page */
  right: 20px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  height: 60px;
  width: 60px;
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  border-radius: 60px; /* Rounded corners */
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

#myBtn:hover {
  background-color: lightgrey; /* Add a dark-grey background on hover */
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#myBtn:active {
  -webkit-transform: translateY(-25%) scale(1.1);
          transform: translateY(-25%) scale(1.1);
}

.title {
  font-size: 42px;
  font-weight: 700;
  line-height: 1.476;
}

.footer {
  padding-top: 60px;
  padding-bottom: 20px;
  background: -webkit-gradient(linear, left top, left bottom, from(#555), to(#222));
  background: linear-gradient(to bottom, #555, #222);
  color: #ffffff;
  margin-top: auto;
  width: 100%;
  font-family: "Poppins", sans-serif;
  position: relative;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__info {
  max-width: 300px;
}

.footer__logo {
  margin-bottom: 15px;
}

.footer__info-text {
  margin-bottom: 40px;
}

.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}
.footer__socials a:hover {
  opacity: 0.7;
}

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 185px;
     -moz-column-gap: 185px;
          column-gap: 185px;
}

.footer__nav-block {
  font-size: 14px;
}
.footer__nav-block li {
  margin-bottom: 13px;
}
.footer__nav-block a:hover {
  color: #a09d9d;
}

.footer__nav-block-title {
  font-size: 21px;
  font-weight: 700;
  margin-bottom: 18px;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__info {
  max-width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__info-text {
  width: 100%;
  text-align: justify;
  line-height: 1.3;
  color: rgb(235, 235, 235);
}

.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}
.footer__socials a:hover {
  opacity: 0.7;
}

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 85px;
     -moz-column-gap: 85px;
          column-gap: 85px;
}

.footer__nav-block {
  font-size: 14px;
}
.footer__nav-block ul {
  list-style: none;
  padding: 0;
}
.footer__nav-block li {
  margin-bottom: 13px;
}
.footer__nav-block a {
  color: #ffffff;
  text-decoration: none;
  position: relative;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.footer__nav-block-title {
  font-size: 21px;
  font-weight: 700;
  margin-bottom: 18px;
  color: rgb(235, 235, 235);
  position: relative;
}

.footer__nav-block-title::after {
  content: "";
  display: block;
  width: 100%; /* Ширина рисочки */
  height: 2px;
  background: #f39c12; /* Колір рисочки */
  margin-top: 5px;
}

/* Додаємо лінію між текстом та іконками */
.footer__divider {
  width: 100%;
  height: 1px;
  background-color: #777;
  margin: 40px 0;
}

.footer__bottom {
  text-align: center;
  padding-top: 20px;
  margin-top: 20px;
}

.footer__bottom p {
  margin: 0;
  font-size: 14px;
  color: #aaa;
}

.about-us {
  margin-top: 50px;
}

.about-us__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px; /* Зменшено до 10px для більшої компактності */
}

.about-us__img {
  max-width: 40%; /* Збільшено до 25% для більших квадратів */
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0 5px; /* Відступи навколо фото зменшено до 5px */
  -o-object-fit: contain;
     object-fit: contain;
}

.about-us__img img {
  width: 100%;
  height: auto; /* Автоматичне збереження пропорцій */
  aspect-ratio: 1; /* Зробити фото квадратними */
  border-radius: 8px;
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.about-us__text {
  max-width: 50%; /* Зменшено простір для тексту */
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0 15px; /* Відступи навколо тексту зменшено до 5px */
  color: #666;
}

.about-title {
  font-size: 28px;
  color: #151414;
  font-weight: 700;
  text-align: center;
}

.about-subtitle {
  font-size: 20px;
  color: #2c2b2b;
  margin-bottom: 10px;
}

/* Стиль для шахматного розташування */
.about-us__row:nth-child(even) .about-us__img {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1; /* Зображення ліворуч */
}

.about-us__row:nth-child(even) .about-us__text {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2; /* Текст праворуч */
}

.about__header {
  width: 100%;
  height: auto;
  overflow: hidden;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px;
}

.slideshow-container {
  position: relative;
  max-width: 1000px;
  margin: auto;
  border: none;
  border-radius: 20px;
  -webkit-box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
          box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  background: linear-gradient(135deg, #f5f7fa, #c3cfe2);
}

.slide {
  display: none; /* Сховати всі слайди за замовчуванням */
  -webkit-transition: opacity 1s ease-in-out, -webkit-transform 1s ease-in-out;
  transition: opacity 1s ease-in-out, -webkit-transform 1s ease-in-out;
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
  transition: opacity 1s ease-in-out, transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
}

.slide img {
  width: 100%;
  height: auto;
  max-height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.slide img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05); /* Ефект збільшення при наведенні */
}

.prev, .next {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 10px;
  cursor: pointer;
  border: none;
  -webkit-box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
          box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); /* Сильніша тінь для кнопок */
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.9); /* Зміна кольору при наведенні */
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

/* Адаптивність */
.tell-me__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 30px;
  margin-top: 50px;
  height: 200px;
  width: 100%;
  background-color: rgb(235, 235, 235);
  -webkit-box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
          box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.tell-me__block input[name=name], .tell-me__block [name=phone] {
  min-width: 13em;
  width: 13vw;
  padding: 12px 10px 12px 35px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid darkgray;
  background: none;
  border-top: none;
  border-left: none;
  border-right: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.tell-me__block input[name=name]::-webkit-input-placeholder, .tell-me__block [name=phone]::-webkit-input-placeholder {
  color: rgb(46, 45, 45);
}
.tell-me__block input[name=name]::-moz-placeholder, .tell-me__block [name=phone]::-moz-placeholder {
  color: rgb(46, 45, 45);
}
.tell-me__block input[name=name]:-ms-input-placeholder, .tell-me__block [name=phone]:-ms-input-placeholder {
  color: rgb(46, 45, 45);
}
.tell-me__block input[name=name]::-ms-input-placeholder, .tell-me__block [name=phone]::-ms-input-placeholder {
  color: rgb(46, 45, 45);
}
.tell-me__block input[name=name]::placeholder, .tell-me__block [name=phone]::placeholder {
  color: rgb(46, 45, 45);
}
.tell-me__block input[name=name]:focus, .tell-me__block [name=phone]:focus {
  background: none;
}

.tell-me__inputs {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.tell-me__row {
  -webkit-column-gap: 50px;
     -moz-column-gap: 50px;
          column-gap: 50px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.tell-me__row h1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: rgb(46, 45, 45);
  width: auto;
  font-weight: 700;
  font-size: 24px;
}
.tell-me__row form {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}
.tell-me__row form svg {
  margin-top: 1.3em;
  position: absolute;
  width: 1.3em;
  height: 1.3em;
}
.tell-me__row button {
  margin: auto 0;
  padding: 0 50px;
}

@media screen and (max-width: 1090px) {
  .tell-me__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 20px;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .tell-me__row form {
    width: 100%;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}
@media screen and (max-width: 800px) {
  .tell-me__block {
    height: auto;
    padding: 20px;
  }
  .tell-me__row form {
    row-gap: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (max-width: 560px) {
  .tell-me__block {
    text-align: center;
  }
  .tell-me__row h1 {
    font-size: 18px;
  }
  .tell-me__row button {
    padding: 0 40px;
    font-size: 12px;
  }
  .tell-me__inputs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 20px;
  }
  input[name=name], [name=phone] {
    min-width: 13em;
    width: 13vw;
    padding: 12px 10px 12px 35px;
    margin: 8px 0;
  }
  input[name=name]::-webkit-input-placeholder, [name=phone]::-webkit-input-placeholder {
    font-size: 12px;
    color: rgb(46, 45, 45);
  }
  input[name=name]::-moz-placeholder, [name=phone]::-moz-placeholder {
    font-size: 12px;
    color: rgb(46, 45, 45);
  }
  input[name=name]:-ms-input-placeholder, [name=phone]:-ms-input-placeholder {
    font-size: 12px;
    color: rgb(46, 45, 45);
  }
  input[name=name]::-ms-input-placeholder, [name=phone]::-ms-input-placeholder {
    font-size: 12px;
    color: rgb(46, 45, 45);
  }
  input[name=name]::placeholder, [name=phone]::placeholder {
    font-size: 12px;
    color: rgb(46, 45, 45);
  }
}
.card-delete-button {
  margin-top: 10px;
}

.admin-card-title {
  text-align: center;
  margin: 30px auto;
}

.admin-photo-card__container {
  margin-bottom: 40px;
}

#uploadForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 100%;
  width: 100%;
  padding: 20px;
  background-color: #f1f1f1;
  border-radius: 10px;
  -webkit-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}

#uploadForm input[type=file],
#uploadForm input[type=text],
#uploadForm input[type=number],
#uploadForm button {
  width: 100%;
  margin-bottom: 15px;
  padding: 12px;
  font-size: 16px;
  color: #333;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  -webkit-transition: border-color 0.3s ease, -webkit-box-shadow 0.3s ease;
  transition: border-color 0.3s ease, -webkit-box-shadow 0.3s ease;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  transition: border-color 0.3s ease, box-shadow 0.3s ease, -webkit-box-shadow 0.3s ease;
}

#uploadForm input[type=text]:focus,
#uploadForm input[type=number]:focus,
#uploadForm input[type=file]:focus {
  border-color: #8c8c8c;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  outline: none;
}

#uploadForm button {
  background-color: #4a4a4a;
  color: #f7f7f7;
  font-weight: bold;
  cursor: pointer;
  border: none;
  -webkit-transition: background-color 0.3s ease, -webkit-box-shadow 0.3s ease;
  transition: background-color 0.3s ease, -webkit-box-shadow 0.3s ease;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  transition: background-color 0.3s ease, box-shadow 0.3s ease, -webkit-box-shadow 0.3s ease;
}

#uploadForm button:hover {
  background-color: #333;
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

#uploadForm button:active {
  background-color: #222;
}

#uploadForm input[type=file]::-webkit-file-upload-button {
  background-color: #4a4a4a;
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

#uploadForm input[type=file]::file-selector-button {
  background-color: #4a4a4a;
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

#uploadForm input[type=file]::-webkit-file-upload-button:hover {
  background-color: #333;
}

#uploadForm input[type=file]::file-selector-button:hover {
  background-color: #333;
}

#uploadForm input::-webkit-input-placeholder {
  color: #999;
}

#uploadForm input::-moz-placeholder {
  color: #999;
}

#uploadForm input:-ms-input-placeholder {
  color: #999;
}

#uploadForm input::-ms-input-placeholder {
  color: #999;
}

#uploadForm input::placeholder {
  color: #999;
}

#authSection {
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 8px;
  -webkit-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 300px;
  margin: 0 auto;
  /* Центрування */
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#authSection h2 {
  color: #333;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

#password {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
  margin-bottom: 1rem;
  -webkit-transition: border-color 0.3s ease;
  transition: border-color 0.3s ease;
}

#password:focus {
  border-color: #007bff;
  outline: none;
  -webkit-box-shadow: 0 0 5px rgba(0, 123, 255, 0.2);
          box-shadow: 0 0 5px rgba(0, 123, 255, 0.2);
}

#loginButton {
  width: 100%;
  padding: 0.75rem;
  background-color: #007bff;
  border: none;
  color: #fff;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

#loginButton:hover {
  background-color: #0056b3;
}

#authMessage {
  margin-top: 1rem;
  font-size: 0.9rem;
  color: #ff4d4d;
}

/*

@Author: Akhouad-me
@URL: http://www.akhouad.me

This file contains the styling for the actual theme, this
is the file you need to edit to change the look of the
theme.


// Table of contents //

		Body
	0.  General
	1.  Header & footer
	2.  Site heroes
	3.  Services
	4.  Portfolio
	5.  Inputs & textareas styles
	6.  Benefits styles
	7.  Pricing plans styles
	8.  Team styles
	9.  Testimonials styles
	10. clients styles
	11. Blog styles

*/
/* Montserrat font */
/* Open sans font */
/* ##### GENERAL  ##### */
* {
  outline: 0;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* ##### 00 : GENERAL  ##### */
section {
  margin-top: 80px;
}
section:last-of-type {
  margin-bottom: 80px;
}

.green-section {
  background-color: #7beec7;
}

.white-section {
  background-color: #fff;
}

.light-gray-section {
  background-color: #efeff0;
}

img {
  width: 100%;
}

/*blockquote*/
blockquote.bq {
  padding: 30px;
  border-left: solid 10px #7beec7;
  font-style: italic;
  font-size: 14px;
  line-height: 30px;
  color: #999999;
  background-color: #efeff0;
}

/*links*/
/*texts*/
.montserrat-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.open-sans-text {
  font-family: "Open sans", sans-serif;
}

.white-text {
  color: white;
}

.green-text {
  color: #7beec7;
}

.gray-text {
  color: #999999;
}

.uppercase {
  text-transform: uppercase;
}

.italic {
  font-style: italic;
}

ul.social-icons li a:hover {
  color: #7beec7;
}

/*section's title*/
.section-title {
  width: 50%;
  margin: 0 auto 100px;
  text-align: center;
}

.section-title span {
  position: relative;
  z-index: 1;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
  color: #60606e;
  position: relative;
  display: inline-block;
  margin-bottom: 20px;
}

.section-title span:after {
  content: "";
  background-color: #7beec7;
  position: absolute;
  top: 20px;
  left: 0;
  z-index: -1;
  width: 60px;
  height: 20px;
}

.section-title p {
  line-height: 24px;
  color: #60606e;
}

@media (max-width: 991px) {
  .section-title {
    margin: 0 auto 50px;
  }
  .section-title span:after {
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}
/*lists*/
/*list 1*/
ul.list li {
  list-style: none;
  position: relative;
  padding-left: 20px;
  margin-bottom: 10px;
}

ul.list li:last-child {
  margin-bottom: 0;
}

ul.list li:before {
  font-family: "Ionicons";
  content: "\f374";
  position: absolute;
  left: 0;
  color: #7beec7;
}

/*list 2*/
ul.list_2 li {
  list-style: none;
  float: left;
  width: 100%;
}

ul.list_2 li a:hover {
  border-bottom: solid 1px #7beec7;
}

/*list 3 (tags)*/
ul.tags {
  float: left;
}

ul.tags li {
  list-style: none;
  margin-right: 5px;
  margin-bottom: 5px;
  float: left;
}

/*social icons*/
ul.social-icons li {
  list-style: none;
  float: left;
  margin: 0 10px;
}

ul.social-icons li:first-child {
  margin: 0 10px 0 0;
}

ul.social-icons li:last-child {
  margin: 0 0 0 10px;
}

/*buttons*/
.btn {
  height: 50px;
  line-height: 50px;
  min-width: 150px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 0;
  padding: 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.btn:hover {
  -webkit-transform: scale(1.01);
  transform: scale(1.01);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.btn.green {
  background-color: #7beec7;
  color: #fff;
}

.btn.white {
  background-color: #fff;
  color: #7beec7;
}

@media (max-width: 991px) {
  .btn {
    margin: 20px 0;
  }
}
/*tab menu*/
.tab {
  overflow: hidden;
  float: left;
}

/* ##### 01 : HEADER & FOOTER  ##### */
/*header*/
header.main-header {
  height: 100px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
}

/*logo*/
header.main-header .logo {
  float: left;
  height: 100px;
  line-height: 100px;
}

.menu {
  float: right;
}

/*menu icon*/
header.main-header .menu-icon {
  float: left;
  cursor: pointer;
  margin-top: 41.5px; /* (100 - 17) / 2 (17px is the icon's height) */
  display: none;
}

header.main-header .menu-icon .line {
  height: 1px;
  width: 30px;
  background-color: #60606e;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

header.main-header .menu-icon .line:nth-child(2) {
  margin: 7px 0;
  width: 15px;
}

header.main-header .menu-icon .line:last-child {
  width: 20px;
}

@media (max-width: 991px) {
  header.main-header .menu-icon {
    display: block;
  }
}
/* ##### 02 : SITE HEROS  ##### */
/*site hero 1 */
.site-hero {
  height: 750px;
  width: 100%;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.tell-me {
  margin-top: 0;
}

.site-hero div.slides {
  height: 450px; /* 850 - 400 */
  width: 100%;
  position: absolute;
  top: 100px;
}

.site-hero div.slides {
  /* opacity: 0; */
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.site-hero .small-title {
  color: #60606e;
  padding: 7px 12px;
  background-color: #7beec7;
  display: inline-block;
}

.site-hero .big-title {
  font-size: 48px;
  color: #60606e;
  padding: 10px 40px;
  border: solid 10px #60606e;
  display: inline-block;
  margin-bottom: 30px;
}

.site-hero p {
  width: 50%;
  margin: 0 auto;
  color: #60606e;
}

/*site hero 2 */
.site-hero_2 {
  background: url("../img/site-hero2.jpg") no-repeat;
  background-size: cover;
  height: 500px;
  width: 100%;
  position: relative;
}

.site-hero_2 .page-title {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.site-hero_2 .page-title .big-title {
  font-size: 36px;
}

.site-hero_2 .page-title .small-title {
  font-size: 14px;
}

.agency {
  width: 100%;
  height: auto;
  float: left;
  margin-top: -300px;
}

.agency img {
  max-height: 400px;
}

.agency p {
  color: #60606e;
}

.agency .section-title {
  text-align: left;
  width: 100%;
  margin: 0 auto 30px;
}

@media (max-width: 991px) {
  .site-hero div.slides {
    height: 350px;
  }
  .site-hero {
    height: 400px;
  }
  .col-row {
    margin-bottom: 20px;
    text-align: left;
  }
  .row-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .agency {
    margin-top: 30px;
  }
  .agency img {
    margin-bottom: 30px;
  }
  .agency .section-title {
    margin: 0 auto;
    text-align: center;
  }
  .agency p {
    text-align: center;
  }
}
@media (max-width: 530px) {
  .row-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/* ##### 03 : SERVICES  ##### */
.services .services-left i.icon {
  display: block;
  font-size: 36px;
}

.services .services-left .service-title {
  font-size: 18px;
  margin-bottom: 20px;
  display: inline-block;
}

.services .services-left ul li {
  list-style: none;
  text-transform: uppercase;
  line-height: 30px;
  color: #999999;
}

@media (max-width: 991px) {
  .services .services-left {
    text-align: center;
    margin-bottom: 50px;
  }
}
/* ##### 04 : PORTFOLIO  ##### */
.portfolio .categories-grid span {
  font-size: 30px;
  margin-bottom: 50px;
  display: inline-block;
}

.portfolio .categories-grid .categories ul li {
  list-style: none;
  margin: 20px 0;
}

@media (max-width: 991px) {
  .portfolio .categories-grid span {
    margin-bottom: 0;
    text-align: center;
    width: 100%;
  }
  .portfolio .categories-grid .categories ul li {
    text-align: center;
  }
}
.portfolio_item {
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
  display: inline-block;
}

.portfolio_item .portfolio_item_hover {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.portfolio_item .portfolio_item_hover .item_info {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.portfolio_item .portfolio_item_hover .item_info span {
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #60606e;
  font-size: 18px;
  -webkit-transform: translateY(20px);
  transform: translateY(20px);
  -webkit-transition: all 0.5s ease-in-out 0.3s;
  transition: all 0.5s ease-in-out 0.3s;
  opacity: 0;
}

.portfolio_item .portfolio_item_hover .item_info em {
  font-style: normal;
  font-weight: 700;
  display: inline-block;
  background-color: #7beec7;
  padding: 5px;
  color: white;
  margin-top: 5px;
  -webkit-transform: translateY(20px);
  transform: translateY(20px);
  -webkit-transition: all 0.5s ease-in-out 0.5s;
  transition: all 0.5s ease-in-out 0.5s;
  opacity: 0;
}

.portfolio_item:hover .portfolio_item_hover {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.portfolio_item:hover .item_info em,
.portfolio_item:hover .item_info span {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

/*single project*/
.project_images {
  float: left;
}

.related_projects {
  float: left;
}

.pages_pagination {
  width: 100%;
  height: 50px;
  line-height: 50px;
  float: left;
  text-align: right;
  font-size: 24px;
  margin: 50px 0;
}

.pages_pagination .all {
  float: left;
}

@media (max-width: 991px) {
  .related_projects img {
    margin-bottom: 30px;
  }
}
/* ##### 05 : INPUTS & TEXTAREAS STYLES  ##### */
/*textarea 1*/
.textarea_1 {
  height: 200px;
  width: 100%;
  border: solid 1px rgba(0, 0, 0, 0.1);
  position: relative;
}

.textarea_1 textarea {
  height: 100%;
  width: 100%;
  border: 0;
  padding: 20px;
  background-color: transparent;
  float: left;
  z-index: 2;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #9a9a9a;
}

.textarea_1 > span {
  position: absolute;
  top: 20px;
  left: 20px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  color: #cdcdcd;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  z-index: 1;
}

/*input 1*/
.input_1 {
  height: 50px;
  width: 100%;
  border: solid 1px rgba(0, 0, 0, 0.1);
  position: relative;
}

.input_1 input[type=text] {
  height: 100%;
  width: 100%;
  border: 0;
  padding: 0 20px;
  float: left;
  position: relative;
  background-color: transparent;
  z-index: 2;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #9a9a9a;
}

.input_1 > span {
  position: absolute;
  top: 50%;
  left: 20px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  color: #cdcdcd;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  z-index: 1;
}

.input_1 > span.active,
.textarea_1 > span.active {
  color: #7beec7;
  font-size: 10px;
  top: 0px;
  left: 5px;
  background-color: #fff;
  padding: 5px;
}

/*input 2*/
.input_2 {
  width: 100%;
  height: 40px;
  background-color: #ececec;
  position: relative;
}

.input_2 > input {
  height: 100%;
  width: calc(100% - 40px);
  border: 0;
  background-color: transparent;
  padding: 0 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  float: left;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.input_2 > button {
  height: 100%;
  width: 40px;
  border: 0;
  background-color: transparent;
}

.input_2 > input:focus {
  background-color: #f2f2f2;
}

/* ##### 06 : BENEFITS STYLES  ##### */
/*benefits 1*/
.benefits_1_single {
  width: 100%;
  text-align: center;
}

.benefits_1_single > i {
  display: inline-block;
  font-size: 60px;
  position: relative;
}

.benefits_1_single > i:after {
  content: "";
  position: absolute;
  bottom: 20px;
  left: 0;
  height: 20px;
  width: 40px;
  background-color: #7beec7;
  z-index: -1;
}

.benefits_1_single > .title {
  font-size: 18px;
}

/*benefits 2 */
.benefits_2_single {
  margin-bottom: 30px;
}

.benefits_2_single:nth-last-child(-n+3) {
  margin-bottom: 30px;
}

.benefits_2_single > i {
  display: inline-block;
  background-color: #7beec7;
  height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  color: white;
  font-size: 30px;
  margin-right: 20px;
}

.benefits_2_single > .title {
  display: inline-block;
  height: 40px;
  line-height: 40px;
  color: #60606e;
}

/* ##### 07 : PRICING PLANS STYLES  ##### */
.pricing_plan {
  padding: 30px;
  border-top: solid 5px #7beec7;
  position: relative;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.pricing_plan:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 0px solid transparent;
  border-top: 10px solid #7beec7;
}

.pricing_plan:hover {
  -webkit-transform: scale(1.01);
  transform: scale(1.01);
  -webkit-box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
}

.pricing_plan .plan_title {
  font-size: 30px;
}

.pricing_plan .plan_price {
  background-color: #7beec7;
  padding: 5px 20px;
  color: white;
  font-size: 14px;
  display: inline-block;
}

.pricing_plan ul {
  margin: 50px 0;
}

/* ##### 08 : TEAM STYLES  ##### */
.team_member {
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
}

.team_member .team_member_hover {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.team_member .team_member_hover .team_member_info {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}

.team_member .team_member_hover .team_member_info .team_member_name {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 12px;
  color: #60606e;
  text-transform: uppercase;
  -webkit-transition: all 0.2s ease-in-out 0.2s;
  transition: all 0.2s ease-in-out 0.2s;
  -webkit-transform: translateY(20px);
  transform: translateY(20px);
  opacity: 0;
}

.team_member .team_member_hover .team_member_info .team_member_job {
  display: inline-block;
  margin-top: 10px;
  background-color: #7beec7;
  padding: 5px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  color: white;
  -webkit-transition: all 0.2s ease-in-out 0.3s;
  transition: all 0.2s ease-in-out 0.3s;
  -webkit-transform: translateY(20px);
  transform: translateY(20px);
  opacity: 0;
}

.team_member:hover .team_member_hover {
  opacity: 1;
}

.team_member:hover .team_member_info .team_member_name,
.team_member:hover .team_member_info .team_member_job {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}

/* ##### 09 : TESTIMONIALS STYLES  ##### */
.testimonials {
  position: relative;
  float: left;
}

.testimonials_single {
  width: 100%;
  text-align: center;
}

.testimonials_single .author_pic {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
}

.testimonials_single p {
  margin: 30px 0;
}

.testimonials_single .author_name {
  padding: 7px;
  background-color: #7beec7;
  color: white;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  display: inline-block;
}

/* ##### 10 : CLIENTS STYLES  ##### */
.clients_single {
  border: solid 1px rgba(0, 0, 0, 0.1);
  padding: 20px;
  overflow: hidden;
  text-align: center;
}

.clients div[class^=col] {
  margin-bottom: 30px;
}

.clients div[class^=col]:nth-last-child(-n+3) {
  margin-bottom: 0;
}

@media (max-width: 767px) {
  .clients div[class^=col]:first-child {
    margin-top: 30px;
  }
  .clients div[class^=col]:nth-last-child(-n+3) {
    margin-bottom: 30px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .clients div[class^=col]:first-child {
    margin-top: 30px;
  }
  .clients div[class^=col]:nth-last-child(-n+3) {
    margin-bottom: 30px;
  }
}
.clients_single img {
  max-width: 100%;
  max-height: 100px;
  opacity: 0.5;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.clients_single:hover img {
  opacity: 1;
}

/* ##### 11 : BLOG STYLES  ##### */
/*blog posts*/
.blog_post {
  margin-bottom: 100px;
}

.post_media {
  margin-bottom: 30px;
}

.post_media * {
  width: 100%;
  max-height: 500px;
}

.post_title {
  margin-bottom: 20px;
}

.post_title span.post_date {
  font-size: 11px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  background-color: #7beec7;
  padding: 5px;
  color: white;
}

.post_info {
  margin-bottom: 20px;
}

.post_info .post_date {
  background-color: #7beec7;
  height: 30px;
  line-height: 30px;
  padding: 0 15px;
  color: white;
  float: left;
  margin-right: 15px;
}

.post_info > * {
  line-height: 30px;
}

.post_info > i {
  color: #cccccc;
  font-size: 18px;
  margin-right: 5px;
}

.post_info > span {
  color: #cccccc;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  margin-right: 20px;
}

/*masonry blog posts*/
.blog_post_masonry {
  width: 100%;
  margin-bottom: 50px;
}

.blog_post_masonry .post_media {
  margin-bottom: 0;
}

.blog_post_masonry .post_info {
  margin: 10px 0;
}

.blog_post_masonry .post_date {
  display: block;
  width: 100%;
}

/*sidebar*/
@media (max-width: 991px) {
  .sidebar {
    margin-top: 100px;
  }
}
.sidebar {
  float: left;
}

.sidebar .widget {
  margin-bottom: 50px;
  width: 100%;
  float: left;
}

.sidebar .widget:last-child {
  margin-bottom: 0;
}

.sidebar .widget .widget_title {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.sidebar .widget .related_post {
  margin-bottom: 15px;
  width: 100%;
  float: left;
}

.related_post:hover .thumb {
  opacity: 0.5;
}

.thumb {
  max-height: 60px;
  max-width: 60px;
  display: inline-block;
  margin-right: 15px;
  float: left;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.sidebar .widget .related_post .post_title {
  font-size: 14px;
}

.sidebar .widget .related_post .post_date {
  font-size: 12px;
}

.thumb:hover {
  opacity: 0.5;
}

/*pagination*/
.blog_pagination {
  width: 100%;
  text-align: center;
  float: left;
}

.blog_pagination .page {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  display: inline-block;
}

.blog_pagination .page span {
  display: inline-block;
  padding: 0 20px;
}

.blog_pagination .page i {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.blog_pagination .page:hover i.prev {
  color: #7beec7;
  display: inline-block;
  -webkit-transform: translateX(10px);
  transform: translateX(10px);
}

.blog_pagination .page:hover i.next {
  color: #7beec7;
  display: inline-block;
  -webkit-transform: translateX(-10px);
  transform: translateX(-10px);
}

@media screen and (max-width: 1280px) {
  .container {
    max-width: 95%;
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media screen and (max-width: 1024px) {
  .container {
    max-width: 95%;
  }
  .navigation-list .nav__link {
    margin: 0 1rem;
  }
  .header__text {
    font-size: 16px;
    min-width: 75%;
    line-height: 1.5;
  }
  .header__title {
    font-size: 42px;
    margin-right: 0;
  }
  .photo-card {
    -ms-flex-preferred-size: calc(50% - 15px);
        flex-basis: calc(50% - 15px);
  }
  .photo-card-wrapper img {
    width: 100%;
    height: 300px;
  }
  .photo-card-body {
    height: calc(100% - 300px);
  }
  .footer__nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 30px;
  }
  .footer__socials {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
@media screen and (max-width: 768px) {
  .nav {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .nav__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navigation-list ul {
    display: none;
    margin-top: 20px;
  }
  .navigation-list.show {
    width: 100%;
  }
  .navigation-list.show ul {
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    text-align: center;
  }
  .navigation-list li {
    margin-right: 20px;
    padding: 20px auto;
    width: 100%;
  }
  .navigation-list li:last-child {
    margin: 0;
  }
  .navigation-list li a {
    padding: 10px;
    border-bottom: 1px solid rgb(205, 205, 205);
    background-color: rgb(235, 235, 235);
  }
  .dash-under-link ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hamburger {
    display: block; /* Показуємо бургер-кнопку */
  }
  .header__title {
    font-size: 28px;
    text-align: center;
  }
  .header__row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header__img {
    display: none;
  }
  .form {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 15px;
  }
  .form__label {
    padding-left: 20px;
  }
  .form__input {
    width: 100%;
    margin-right: 0;
  }
  .testimonials__heading {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .photo-card {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .button {
    padding: 10px;
    line-height: 35px;
    text-align: center;
  }
  .footer {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .footer__nav {
    margin-top: 30px;
  }
  .footer__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__info,
  .footer__nav {
    text-align: center;
  }
  .footer__socials {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .about__header {
    width: 100%;
    padding: 40px 0;
  }
  .about__header .container {
    padding: 0;
    margin: 0;
    max-width: 100%;
  }
  .slideshow-container {
    border-radius: 0;
  }
  .slide img {
    border-radius: 0;
  }
  .about-us__img {
    max-width: 100%;
    margin: 10px 0;
  }
  .about-subtitle {
    max-width: 100%;
    font-size: 1.5em;
  }
  .about-us__text {
    max-width: 100%;
    font-size: 0.8em;
  }
}
@media screen and (max-width: 480px) {
  .about-us {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .about-us__row {
    margin-bottom: 0px; /* Зменшено до 10px для більшої компактності */
  }
  .background {
    background-attachment: local;
  }
  .about-us__text {
    font-size: 0.6em;
  }
  .nav__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header__title {
    font-size: 24px;
  }
  #photosContainer {
    row-gap: 20px;
  }
  .photo-card {
    border: 1px solid whitesmoke;
  }
  .photo-card-wrapper img {
    min-height: 340px;
  }
  .photo-card-body {
    height: calc(100% - 340px);
  }
  .card-testimonial__title {
    font-size: 16px;
  }
  .footer__nav-block {
    font-size: 12px;
  }
  .footer__logo {
    margin: 0 auto 15px auto;
  }
  .footer__info-text p {
    font-size: 14px;
    font-weight: normal;
  }
  .buttons__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 10px;
  }
}
@media screen and (max-width: 360px) {
  .about-us__text {
    font-size: 0.5em;
  }
}