@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

a:active {
  background-color: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
}

input,
button {
  border: none;
  font-family: inherit;
  font-size: inherit;
}

button,
input[type=submit] {
  background: none;
  cursor: pointer;
}

input:focus,
button:focus {
  outline: none;
}

ul,
li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1.687;
  color: #323232;
}

.container {
  max-width: 1340px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.container--fluid {
  max-width: unset;
  width: 100%;
}
.container--no--padding {
  padding: 0;
}

.visually-hiden {
  opacity: 0;
  visibility: hidden;
  width: 0;
  height: 0;
  display: block;
  margin-left: -10000px;
  background: transparent;
  font-size: 0;
}

.none {
  display: none;
}

.nav {
  padding-top: 35px;
  padding-bottom: 33px;
}

.nav__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation-list .nav__link {
  display: inline-block;
  margin: 0 2rem;
  color: var(--black-color);
}
.navigation-list .nav__link a {
  display: block;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.navigation-list .nav__link :not(.active):hover {
  color: #f78434;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
}
.logo img {
  margin-right: 10px;
}

.navigation-list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.navigation-list li {
  margin-right: 42px;
}
.navigation-list li:last-child {
  margin-right: 0;
}
.navigation-list a {
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
}
.navigation-list a.active {
  color: #f78434;
  font-weight: 700;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__text {
  width: 465px;
}

.header__text p {
  line-height: 1.6875;
  margin-bottom: 1em;
}

.header__title {
  margin-right: -160px;
  position: relative;
  z-index: 9;
  font-size: 54px;
  margin-bottom: 25px;
  font-weight: 700;
  line-height: 1.46;
}

.header__img img {
  border-radius: 40px 40px 40px 0;
}

.header__form {
  margin-top: 42px;
}

.buttons__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}

.testimonials {
  padding-top: 60px;
  padding-bottom: 60px;
}

.testimonials__heading {
  margin-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonials__title {
  max-width: 452px;
}

.testimonials__subtitle {
  max-width: 400px;
}

.testimonials__row {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}

.card-testimonial {
  border-radius: 5px;
  overflow: hidden;
  max-width: 350px;
  -webkit-transition: -webkit-box-shadow 0.2s ease-in;
  transition: -webkit-box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in, -webkit-box-shadow 0.2s ease-in;
}
.card-testimonial:hover {
  -webkit-box-shadow: 0px 10px 52px 0px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 10px 52px 0px rgba(0, 0, 0, 0.08);
}
.card-testimonial:hover .card-testimonial__btn-play {
  opacity: 1;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}
.card-testimonial:hover .card-testimonial__img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.card-testimonial__img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  min-height: 220px;
}

.card-testimonial__img-wrapper {
  overflow: hidden;
  position: relative;
  max-height: 220px;
}

.card-testimonial__btn-play {
  position: absolute;
  z-index: 1;
  right: 20px;
  bottom: 20px;
  opacity: 0;
  -webkit-transform: translateY(25%);
          transform: translateY(25%);
  -webkit-transition: opacity 0.2s ease-in, -webkit-transform 0.2s ease-in;
  transition: opacity 0.2s ease-in, -webkit-transform 0.2s ease-in;
  transition: opacity 0.2s ease-in, transform 0.2s ease-in;
  transition: opacity 0.2s ease-in, transform 0.2s ease-in, -webkit-transform 0.2s ease-in;
}

.card-testimonial__btn-svg circle {
  fill: #d6cee3;
  -webkit-transition: fill 0.2s ease-in;
  transition: fill 0.2s ease-in;
}
.card-testimonial__btn-svg path {
  fill: #615478;
  -webkit-transition: fill 0.2s ease-in;
  transition: fill 0.2s ease-in;
}
.card-testimonial__btn-svg:hover circle {
  fill: #615478;
}
.card-testimonial__btn-svg:hover path {
  fill: #d6cee3;
}

.card-testimonial__body {
  padding: 30px;
}

.card-testimonial__text {
  margin-bottom: 23px;
}

.card-testimonial__name {
  font-size: 18px;
  font-weight: 700;
}

.card-testimonial__city {
  color: #58bebf;
  -webkit-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
}
.card-testimonial:hover .card-testimonial__city {
  color: #f78434;
}

.button {
  display: block;
  height: 58px;
  padding-left: 37px;
  padding-right: 37px;
  border-radius: 5px;
  background-color: none;
  border: 2px solid black;
  text-wrap: nowrap;
  line-height: 55px;
  font-weight: 400;
  color: black;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.button:hover {
  background-color: #262626;
  color: white;
}
.button--play {
  padding-left: 50px;
  position: relative;
}
.button--play::before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  background-image: url(./../img/icons/play.svg);
  background-size: initial;
  background-repeat: no-repeat;
  position: absolute;
  left: 30px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 30px; /* Place the button at the bottom of the page */
  right: 20px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  height: 60px;
  width: 60px;
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  border-radius: 60px; /* Rounded corners */
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

#myBtn:hover {
  background-color: lightgrey; /* Add a dark-grey background on hover */
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#myBtn:active {
  -webkit-transform: translateY(-25%) scale(1.1);
          transform: translateY(-25%) scale(1.1);
}

.title {
  font-size: 42px;
  font-weight: 700;
  line-height: 1.476;
}

.footer {
  padding-top: 86px;
  padding-bottom: 20px;
  background: -webkit-gradient(linear, left top, left bottom, from(#555), to(#222));
  background: linear-gradient(to bottom, #555, #222);
  color: #ffffff;
  margin-top: auto;
  width: 100%;
  font-family: "Poppins", sans-serif;
  position: relative;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__info {
  max-width: 300px;
}

.footer__logo {
  margin-bottom: 15px;
}

.footer__info-text {
  margin-bottom: 40px;
}

.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}
.footer__socials a:hover {
  opacity: 0.7;
}

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 185px;
     -moz-column-gap: 185px;
          column-gap: 185px;
}

.footer__nav-block {
  font-size: 14px;
}
.footer__nav-block li {
  margin-bottom: 13px;
}
.footer__nav-block a:hover {
  color: #f78434;
}

.footer__nav-block-title {
  font-size: 21px;
  font-weight: 700;
  margin-bottom: 18px;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__info {
  max-width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__info-text {
  width: 100%;
  text-align: justify;
  line-height: 1.3;
}

.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}
.footer__socials a:hover {
  opacity: 0.7;
}

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 85px;
     -moz-column-gap: 85px;
          column-gap: 85px;
}

.footer__nav-block {
  font-size: 14px;
}
.footer__nav-block ul {
  list-style: none;
  padding: 0;
}
.footer__nav-block li {
  margin-bottom: 13px;
}
.footer__nav-block a {
  color: #ffffff;
  text-decoration: none;
  position: relative;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.footer__nav-block a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #a09d9d;
  -webkit-transition: width 0.3s ease;
  transition: width 0.3s ease;
  position: absolute;
  bottom: -2px; /* Розташування рисочки під текстом */
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.footer__nav-block a:hover::after {
  width: 100%; /* Рисочка при наведенні */
}

.footer__nav-block-title {
  font-size: 21px;
  font-weight: 700;
  margin-bottom: 18px;
  color: #fff;
  position: relative;
}

.footer__nav-block-title::after {
  content: "";
  display: block;
  width: 100%; /* Ширина рисочки */
  height: 2px;
  background: #f39c12; /* Колір рисочки */
  margin-top: 5px;
}

/* Додаємо лінію між текстом та іконками */
.footer__divider {
  width: 100%;
  height: 1px;
  background-color: #777;
  margin: 40px 0;
}

.footer__bottom {
  text-align: center;
  padding-top: 20px;
  margin-top: 20px;
}

.footer__bottom p {
  margin: 0;
  font-size: 14px;
  color: #aaa;
}

@media (max-width: 1500px) {
  .contacts::before {
    left: 40%;
  }
  .contacts::after {
    left: 40%;
  }
}
@media (max-width: 1270px) {
  .contacts::before {
    left: 27%;
  }
  .contacts::after {
    left: 27%;
  }
  .testimonials__row::after {
    right: -10px;
    top: -20px;
  }
  .objects__text {
    padding-left: 130px;
    padding-right: 100px;
  }
  .header__text {
    margin-right: 20px;
  }
}
@media (max-width: 1024px) {
  .contacts {
    overflow-y: hidden;
  }
  .contacts::before {
    left: 20%;
    width: 80%;
    background-repeat: no-repeat;
  }
  .contacts::after {
    left: 20%;
    max-width: 69%;
    background-repeat: no-repeat;
  }
  .footer__nav {
    -webkit-column-gap: 50px;
       -moz-column-gap: 50px;
            column-gap: 50px;
  }
  .cta__buttons-row .button {
    min-width: 180px;
    text-align: center;
  }
  .benefits__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 30px;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}
@media (max-width: 930px) {
  .cta__text {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .img-card__img {
    max-width: 80%;
  }
  .objects__text {
    padding-left: 70px;
  }
  .img-card__info {
    right: 50px;
  }
  .card-info__text {
    width: 150px;
  }
  .card-info {
    padding: 15px;
    font-size: 12px;
    width: auto;
  }
  .card-info__icon img {
    width: 100%;
  }
  .img-card {
    max-width: 350px;
  }
}
@media (max-width: 850px) {
  .testimonials__row::after {
    background: none;
  }
  .clients {
    padding-top: 70px;
    padding-bottom: 35px;
  }
  .clients__row img {
    max-width: 150px;
  }
  .footer__nav {
    -webkit-column-gap: 30px;
       -moz-column-gap: 30px;
            column-gap: 30px;
  }
  .serve__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 30px;
    padding: 0 100px;
  }
}
@media (max-width: 832px) {
  .benefits {
    padding-bottom: 55px;
  }
  .cta {
    padding-top: 35px;
    padding-bottom: 35px;
  }
  .objects {
    padding-bottom: 40px;
  }
  .serve {
    padding-bottom: 60px;
  }
  .serve::before {
    width: 100%;
    height: 100%;
    top: -25%;
    left: 0;
  }
  .navigation-list li {
    margin-right: 22px;
  }
  .cta__text {
    padding-left: 45px;
  }
  .objects__row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .objects__text {
    padding: 0;
  }
  .objects__img {
    display: none;
  }
  .testimonials__heading {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    row-gap: 10px;
  }
  .testimonials__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 30px;
  }
  .benefits__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 700px) {
  .footer__nav {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    min-width: 320px;
  }
  .footer__socials {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 20px;
    margin-top: 10px;
    margin-right: 10px;
  }
  .footer__info-text {
    display: none;
  }
  .footer__logo {
    display: none;
  }
  .nav__none {
    display: none;
  }
  .cta__text {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .cta__buttons-row .button {
    min-width: unset;
  }
  .button {
    max-width: unset;
    height: 48px;
    line-height: 48px;
    font-size: 12px;
    padding-left: 27px;
    padding-right: 27px;
  }
  .button--play {
    padding-left: 50px;
  }
  .button--play::before {
    left: 28px;
    top: 51%;
  }
  .header__title {
    font-size: 42px;
  }
  .header__text {
    width: 365px;
  }
  .header__form .button {
    height: 48px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 14px;
    font-weight: 600;
  }
  .form__label {
    padding-left: 50px;
  }
  .form__label::before {
    top: 14px;
    left: 15px;
  }
  .header__form {
    height: 48px;
    font-size: 14px;
  }
  .form__input {
    width: 140px;
  }
  p {
    font-size: 14px;
  }
  .title {
    font-size: 31px;
  }
  .serve__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 30px;
    padding: 0 50px;
  }
  .contacts .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contacts::before {
    display: none;
  }
  .contacts::after {
    display: none;
  }
}
@media (max-width: 650px) {
  .header__img {
    display: none;
  }
  .contacts {
    overflow-y: initial;
  }
  .clients {
    padding-top: 70px;
    padding-bottom: 35px;
  }
  .clients__row img {
    max-width: 100px;
  }
}
@media (max-width: 630px) {
  .cta__img {
    display: none;
  }
}
@media (max-width: 530px) {
  .card-customer {
    padding: 40px 44px;
  }
  .header__title {
    max-width: 320px;
    font-size: 35px;
  }
}
@media (max-width: 450px) {
  .testimonials {
    padding-bottom: 0;
  }
  .cta__text {
    width: 375px;
    padding-right: 0;
    padding-left: 25px;
  }
  .clients {
    display: none;
  }
}