
// Адаптивність для планшетів (від 768px до 1024px)
@media screen and (max-width: 1024px) {
	.container {
		max-width: 90%;
		padding-left: 10px;
		padding-right: 10px;
	}

	.navigation-list .nav__link {
		margin: 0 1rem;
	}

	.header__text {
		font-size: 16px;
		min-width: 80%;
		line-height: 1.5;
	}

	.header__title {
		font-size: 42px;
		margin-right: 0;
	}

	.header__img img {
		width: 100%;
		border-radius: 20px;
	}

	.testimonials__row {
		// row-gap: 30px;
		flex-wrap: wrap;
		justify-content: space-around;
	}

	.card-testimonial {
		flex-basis: calc(50% - 15px);
	}

	.card-testimonial__img-wrapper {
		min-height: 340px;
	}

	.card-testimonial__img {
		width: 100%;
	}

	.footer__nav {
		flex-direction: column;
		row-gap: 30px;
	}

	.footer__socials {
		justify-content: space-around;
	}
}

// Адаптивність для мобільних пристроїв (до 768px)
@media screen and (max-width: 768px) {
	.nav {
		padding-top: 20px;
		padding-bottom: 20px;
	}

	.nav__row {
		flex-direction: column;
		align-items: center;
	}

	.navigation-list ul {
    display: none;
    margin-top: 20px;
	}

  .navigation-list.show ul {
		display: flex;
		flex-direction: column;
  }

	.navigation-list li {
		margin-right: 20px;
		width: 100vw;
		padding: auto 10px;
		background-color: red;
	}

  .hamburger {
		display: block; /* Показуємо бургер-кнопку */	
	}

	.header__title {
		font-size: 28px;
		text-align: center;
	}

	.header__row {
		justify-content: center;
	}

	.header__img  {
		// width: 100%;
		display: none;
	}

	// .header__title {
	// 	margin-right: 0px;
	// }



	.form {
		height: auto;
		flex-direction: column;
		padding: 15px;
	}

	.form__label {
		padding-left: 20px;
	}

	.form__input {
		width: 100%;
		margin-right: 0;
	}

	.testimonials__heading {
		flex-direction: column;
	}

	.card-testimonial {
		flex-basis: 100%;
	}

	.button {
		// width: 100%;
		padding: 10px;
		line-height: 35px;
		text-align: center;
	}

	.footer {
		padding-top: 40px;
		padding-bottom: 40px;
	}

	.footer__row {
		flex-direction: column;
		align-items: center;
	}

	.footer__info,
	.footer__nav {
		text-align: center;
	}

	.footer__socials {
		flex-direction: row;
		justify-content: center;
	}
}

// Адаптивність для дуже маленьких екранів (до 480px)
@media screen and (max-width: 480px) {
	.nav__row {
		flex-direction: column;
		justify-content: center;
	}

	.header__title {
		font-size: 24px;
	}

	.testimonials__row {
		row-gap: 10px;
	}

	.card-testimonial {
		border: 1px solid whitesmoke;
	}

	.card-testimonial__img-wrapper {
		min-height: 140px;
	}

	.card-testimonial__name {
		font-size: 16px;
	}

	.footer__nav-block {
		font-size: 12px;
	}

	.footer__logo {
		// display: flex;
		// justify-content: center;
		margin: 0 auto 15px auto;
	}

	.buttons__row {
		flex-direction: column;
		row-gap: 10px;
	}

	.button {
		// height: 50px;
		// line-height: 50px;
	}
}
