$accent-color: #a09d9d;
$accent-color-hover: #ff6a00;

$black-color: #323232;

$tablet-min-width: 768px;
$desktop-min-width: 1280px;
$desktop-max-width: 1170px;
$phone-min-width: 320px;
$padding-content: 20px;
$padding-content-tablet: 39px;
$padding-content-desktop: 55px;