.button {
	display: inline-block;
	height: 58px;
	padding-left: 37px;
	padding-right: 37px;

	border-radius: 5px;
	background-color: none;
	border: 2px solid black;

	line-height: 55px;
	font-weight: 400;
	color: black;
	transition: all 0.2s ease-in;

	&:hover {
		background-color: #262626;
		color: white;

	border-radius: 29px;
	background-color: $accent-color;

	line-height: 58px;
	font-weight: 700;
	color: #fff;
	transition: background-color 0.2s ease-in;

	&:hover {
		background-color: $accent-color-hover;

	}

	&--white {
		background-color: #fff;
		color: $black-color;
		transition: all 0.2s ease-in;

		&:hover {
			background-color: $black-color;
			color: #fff;
		}
	}

	&--play {
		padding-left: 50px;
		position: relative;

		&::before {
			content: '';
			display: block;
			width: 12px;
			height: 12px;

			background-image: url(./../img/icons/play.svg);
			background-size: initial;
			background-repeat: no-repeat;

			position: absolute;
			left: 30px;
			top: 50%;
			transform: translateY(-50%);
		}
	}
}
}