.footer {
  padding-top: 60px;
  padding-bottom: 20px;
  background: linear-gradient(to bottom, #555, #222);
  color: #ffffff;
  margin-top: auto;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  position: relative;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}

.footer__row {
	display: flex;
	justify-content: space-between;
}
.footer__info {
	max-width: 300px;
}
.footer__logo {
	margin-bottom: 15px;
}

.footer__info-text {
	margin-bottom: 40px;
}
.footer__socials {
	display: flex;
	align-items: center;
	column-gap: 30px;

	a:hover {
		opacity: 0.7;
	}
}
.footer__nav {
	display: flex;
	column-gap: 185px;
}

.footer__nav-block {
	font-size: 14px;

	li {
		margin-bottom: 13px;
	}

	a:hover {
		color: $accent-color;
	}
}

.footer__nav-block-title {
	font-size: 21px;
	font-weight: 700;
	margin-bottom: 18px;
}
 


.footer__row {
  display: flex;
  justify-content: space-between;

}

.footer__info {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__info-text{
width: 100%;
text-align: justify;
line-height: 1.3;
}

.footer__socials {
  display: flex;
  align-items: center;
  column-gap: 30px;

  a:hover {
      opacity: 0.7;
  }
}

.footer__nav {
  display: flex;
  column-gap: 85px;
}

.footer__nav-block {
  font-size: 14px;

  ul {
      list-style: none;
      padding: 0;
  }

  li {
      margin-bottom: 13px;
  }

  a {
      color: #ffffff;
      text-decoration: none;
      position: relative;
      transition: color 0.3s; 
  }

}

.footer__nav-block-title {
  font-size: 21px;
  font-weight: 700;
  margin-bottom: 18px;
  color: #fff;
  position: relative;
}

.footer__nav-block-title::after {
  content: '';
  display: block;
  width: 100%; /* Ширина рисочки */
  height: 2px;
  background: #f39c12; /* Колір рисочки */
  margin-top: 5px;
}

/* Додаємо лінію між текстом та іконками */
.footer__divider {
  width: 100%;
  height: 1px;
  background-color: #777;
  margin: 40px 0;
}

.footer__bottom {
  text-align: center;
  padding-top: 20px;
  margin-top: 20px;
}

.footer__bottom p {
  margin: 0;
  font-size: 14px;
  color: #aaa;
}


