.header {
 padding-bottom: 50px;
}

.header__row {
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.header__text {
	width: 465px;
	// background-color: black;
}
.header__text p {
	line-height: 1.6875;
	margin-bottom: 1em;
}
.header__title {
	margin-right: -160px;
	position: relative;
	z-index: 9;

	font-size: 49px;
	margin-bottom: 15px;
	font-weight: 700;
	line-height: 1.46;

	&::before {
		content: '';
		display: block;

		width: 5%;
		height: 2px;
		background-color: rgb(200, 189, 160);
	}

	&::after {
		content: '';
		display: block;

		width: 25%;
		height: 2px;
		background-color: rgb(200, 189, 160);
	}
}
.header__img img {
	
	border-radius: 50%;
	background-color: darkgray;
	
	width: 30vw;
	box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
	// box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
	box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
	// height: 10vh;
}

.header__form {
	margin-top: 42px;
}

.buttons__row {
	display: flex;
	justify-content: space-between;
	column-gap: 10px;
}
