.nav {
	padding-top: 20px;
	padding-bottom: 20px;
}

.nav__row {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navigation-list {
	.nav__link {
		a {
			display: block;
			transition: all 0.2s ease-in;
		}
		display: inline-block;
		margin: 0 2rem;
		color: var(--black-color);
	}
	.nav__link :not(.active):hover {
		// color: var(--your-hover-color);
		color: $accent-color;
		transform: scale(1.2);
	}
}


// hamburger menu