.parallax {
	//margin-top: 50px;
	/* The image used */
	// background-image: url("./img/img_parallax.jpg");
	background-image: url(../../img/parallax/img_parallax.jpg);

	// filter: blur(0.2rem);
	box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
		rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;

	/* Full height */
	height: 35vh;

	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;

	&__bottom {
		height: 35vh;
		background-position: bottom;
	}

	&__about-us {
		background-image: url(../../img/parallax/shtukaturka_parallax.jpg);
		margin: 50px 0;
		height: 50vh;
	filter: blur(0.15rem);

	}
}
