.card-delete-button {
	margin-top: 10px;
}

.admin-card-title {
	text-align: center;
	margin: 30px auto;
}

.admin-photo-card__container {
	margin-bottom: 40px;
}


// Форма завантаження

#uploadForm {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  width: 100%;
  padding: 20px;
  background-color: #f1f1f1;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}

#uploadForm input[type="file"],
#uploadForm input[type="text"],
#uploadForm input[type="number"],
#uploadForm button {
  width: 100%;
  margin-bottom: 15px;
  padding: 12px;
  font-size: 16px;
  color: #333;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

#uploadForm input[type="text"]:focus,
#uploadForm input[type="number"]:focus,
#uploadForm input[type="file"]:focus {
  border-color: #8c8c8c;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  outline: none;
}

#uploadForm button {
  background-color: #4a4a4a;
  color: #f7f7f7;
  font-weight: bold;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

#uploadForm button:hover {
  background-color: #333;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

#uploadForm button:active {
  background-color: #222;
}

#uploadForm input[type="file"]::file-selector-button {
  background-color: #4a4a4a;
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#uploadForm input[type="file"]::file-selector-button:hover {
  background-color: #333;
}

#uploadForm input::placeholder {
  color: #999;
}

// login form 

#authSection {
	background-color: #ffffff;
	padding: 2rem;
	border-radius: 8px;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
	text-align: center;
	width: 300px;
	margin: 0 auto;

	/* Центрування */
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#authSection h2 {
	color: #333;
	font-size: 1.2rem;
	margin-bottom: 1rem;
}

#password {
	width: 100%;
	padding: 0.75rem;
	border: 1px solid #ddd;
	border-radius: 5px;
	font-size: 1rem;
	margin-bottom: 1rem;
	transition: border-color 0.3s ease;
}

#password:focus {
	border-color: #007bff;
	outline: none;
	box-shadow: 0 0 5px rgba(0, 123, 255, 0.2);
}

#loginButton {
	width: 100%;
	padding: 0.75rem;
	background-color: #007bff;
	border: none;
	color: #fff;
	border-radius: 5px;
	font-size: 1rem;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

#loginButton:hover {
	background-color: #0056b3;
}

#authMessage {
	margin-top: 1rem;
	font-size: 0.9rem;
	color: #ff4d4d;
}

//revstyle
/* Центрування заголовка */
.admin-reviews-title {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

/* Стиль картки відгуку */
.review {
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.3s ease;
}

.review:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

/* Відступи між текстом та кнопками */
.review p {
  margin-bottom: 10px;
}

/* Кнопка "Схвалити" */
button.approve-button {
  padding: 8px 16px;
  font-size: 0.9rem;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  background-color: #6fbf73; /* М'який зелений колір для схвалення */
  color: #fff;
  font-weight: bold;
  margin-right: 10px;
  transition: background-color 0.3s ease;
}

button.approve-button:hover:not(:disabled) {
  background-color: #5ca85f;
}

button.approve-button:disabled {
  background-color: #d3d3d3; /* Сірий для деактивованої кнопки */
  cursor: not-allowed;
  color: #706f6f;
}

/* Кнопка "Видалити" */
button.delete-button {
  padding: 8px 16px;
  font-size: 0.9rem;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  background-color: #e57373; /* М'який червоний колір для видалення */
  color: #fff;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

button.delete-button:hover {
  background-color: #cb6060;
}

/* Стиль тексту відгуку */
.review-text {
  max-height: 60px; // Висота для двох рядків тексту
  overflow: hidden;
  transition: max-height 0.3s ease;

  &.expanded {
      max-height: none; // Знімає обмеження висоти
  }
}

/* Стиль кнопки "Читати далі" */
.read-more-btn {
  margin-top: 10px;
  padding: 5px 10px;
  font-size: 0.9rem;
  color: #007bff;
  background: none;
  border: none;
  cursor: pointer;
  text-decoration: underline;
}

.read-more-btn:hover {
  color: #0056b3;
}
