/* Основні стилі для галереї */
.gallery {
  padding: 40px 0; /* Відступи для галереї */
  text-align: center; /* Вирівнювання тексту по центру */
  background-color: #f9f9f9; /* Світло-сірий фон для галереї */
}

.gallery h2 {
  font-size: 2.5em; /* Розмір заголовка */
  margin-bottom: 20px; /* Відступ знизу */
  font-weight: bold; /* Жирний шрифт */
  color: #333; /* Колір заголовка */
}

#photosContainer {
  display: flex; /* Використовуємо флекс для вирівнювання зображень */
  flex-wrap: wrap; /* Дозволяє зображенням переноситися на новий рядок */
  justify-content: center; /* Центруємо зображення */
}

.photo-card {
  margin: 15px; /* Відступи між картками */
  border: 1px solid #ddd; /* Рамка навколо картки */
  border-radius: 8px; /* Кути рамки */
  overflow: hidden; /* Приховуємо зайве */
  max-width: 250px; /* Максимальна ширина картки */
  transition: transform 0.3s; /* Анімація при наведенні */
  background-color: #fff; /* Білий фон для картки */

  
}

.photo-card-wrapper {
  overflow: hidden;
}

.photo-card img {
  max-width: 100%; /* Зображення займає всю ширину картки */
  border-bottom: 1px solid #ddd; /* Рамка під зображенням */

  object-fit: cover;
	width: 100%;
	transition: all 0.5s ease-in-out;
	max-height: 220px;




  &:hover {
		transform: scale(1.2);

	}

}

.photo-card p {
  margin: 10px; /* Відступи для параграфів */
  font-size: 0.9em; /* Розмір шрифту для опису та ціни */
  color: #666; /* Колір тексту */
}

.photo-card:hover {
	box-shadow: 0px 10px 52px 0px rgba(0, 0, 0, 0.08);
}

.photo-card .card-testimonial__name {
  font-weight: bold; /* Жирний шрифт для назви декору */
}

.photo-card .card-testimonial__city {
  color: #007BFF; /* Колір ціни */
}
